---
layout: default
title: "Todos os Artigos"
image: "/assets/img/share-image.webp"
---

<div class="post-grid articles-page-layout">
  {% for post in paginator.posts %}
  {% include post-card.html post=post %}
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Anterior</a>
  {% else %}
  <span class="previous disabled">Anterior</span>
  {% endif %}
  <span class="page-number current-page">{{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}" class="next">Próxima</a>
  {% else %}
  <span class="next disabled">Próxima</span>
  {% endif %}
</div>
{% endif %}