{% assign author = site.data.author %}
<section class="author-section full-width-breakout">
  <div class="container">
    <div class="author-container">
      <div class="author-avatar">
        <img src="{{author.photo}}" alt="{{author.name}}">
      </div>
      <div class="author-info">
        <h2 class="author-heading">Sobre a Autora</h2>
        <h3 class="author-name">{{author.name}}</h3>
        <p class="author-bio">
          {{author.bio}}
        </p>
      </div>
    </div>
  </div>
</section>
