<section class="author-section full-width-breakout">
  <div class="container">
    <div class="author-container">
      <div class="author-avatar">
        <img src="/assets/img/lilian-brasileiro.webp" alt="Lílian Brasileiro">
      </div>
      <div class="author-info">
        <h2 class="author-heading">Sobre a Autora</h2>
        <h3 class="author-name">Lílian Brasileiro</h3>
        <p class="author-bio">
          Formada em Produção Editorial, adora cinema e livros. Gosta de vinhos, special beers e uns bons tragos.
          Foodaholic desde que nasceu; descobriu nos aromas, cores, texturas e sabores da gastronomia o sentido da
          vida. Mas, foi pelo açúcar que seu coração bateu mais forte.
        </p>
      </div>
    </div>
  </div>
</section>
