---
layout: default
image: "/assets/img/share-image.webp"
---
<div class="category-page">
  {% assign cat_data = site.data.categories | where: "slug", page.title | first %}
  {% assign display_name = cat_data.display_name | default: page.title %}

  <header class="category-header">
    <h1>{{ display_name }}</h1>
  </header>

  <div class="post-grid articles-page-layout">
    {% for post in page.posts %}
    <article class="post-card group">
      {% if post.image %}
      <div class="post-cover-wrapper">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}" class="post-cover" alt="{{ post.title }}">
        </a>
      </div>
      {% endif %}
      <div class="post-card-content">
        <span class="post-meta">{{ post.date | date: "%d de %b, %Y" | upcase }} · {% include reading-time.html post=post %}</span>
        <h3 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post-excerpt">
          {{ post.excerpt | strip_html | truncatewords: 20 }}
        </p>
      </div>
    </article>
    {% else %}
    <p>Nenhuma postagem encontrada nesta categoria.</p>
    {% endfor %}
  </div>
</div>
