---
layout: default
image: "/assets/img/share-image.webp"
---
<div class="category-page articles-page-layout">
  {% assign cat_data = site.data.categories | where: "slug", page.title | first %}
  {% assign display_name = cat_data.display_name | default: page.title %}

  <header class="category-header">
    <h1>{{ display_name }}</h1>
  </header>

  <div class="post-grid">
    {% for post in page.posts %}
    {% include post-card.html post=post %}
    {% else %}
    <p>Nenhuma postagem encontrada nesta categoria.</p>
    {% endfor %}
  </div>
</div>
